<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-left: 12%; margin-right:8%">
        <div fxLayout="row">
            <span style="font-size: medium; font-weight: bold;">Books</span>
            <span style="font-size:10px; margin-top: 2px;margin-left: 5px;">({{GetAllBooksArray.length}} Items)</span>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <select matNativeControl name="car">
                    <option value="" selected></option>

                </select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row wrap" style="margin-left:10%">
        <div *ngFor="let book of GetAllBooksArray">
            <mat-card class="example-card">
                <img mat-card-image *ngIf="!(book.bookImage==null)" src={{book.bookImage}} alt="../../../assets/BookImageMain.jpg">
                <img mat-card-image *ngIf="book.bookImage==null" src="../../../assets/BookImageMain.jpg" alt="">
                <button class="quick-view" style="background-color:black; color: white; opacity: 0.5; border: none;"
                    routerLink="/home/books/{{book._id}}">Quick View</button>
                <mat-card-content>
                    <div style="font-weight: 500;">{{book.bookName}}</div>
                    <div style="font-weight:lighter; font-size: 12px;">by {{book.author}}</div>
                    <div fxLayout="row">
                        <div style="background-color:green; height: 20px;" fxLayoutAlign="start center">
                            <span style="color:white; margin-left: 5px;font-size:12px">4.5</span>
                            <mat-icon style="margin-bottom: 5px;">
                                <img src="../../../assets/icons/star.svg" alt="" style="width:18px; height:18px;">
                            </mat-icon>
                        </div>
                    </div>
                    <div fxLayout='row'>
                        <span style="font-weight:bold">Rs.{{book.discountPrice}}</span>
                        <span
                            style="text-decoration: line-through;color: rgb(189, 184, 184); font-size: 10px; margin-left: 5px;">Rs.{{book.price}}</span>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>