<div fxLayout="column">
    <div fxLayout="row" fxFlex=100 fxLayoutAlign="center center" style="background-color: #a83434;">
        <div>
            <button class="navMenu" mat-icon-button color="primary" routerLink="/home">
                <img src="../../../assets/icons/logo.svg" alt=""
                    style="margin-left: 50%; height: 30px; width: 30px; opacity: 1;">
                <label style="color:white; margin-left: 20%;">Book Store</label>
            </button>
        </div>
        <div>
            <div class="search-box" fxHide.lt-md fxFlex="50" fxLayout="row" fxLayoutAlign="space-between center"
                style="margin-left:5%">
                <button (click)="isShow=true" mat-icon-button>
                    <img src="../../../assets/icons/search.svg" alt="">
                </button>
                <input (click)="isShow=true" class="Search-text" type="text" placeholder="Search" fxFlex="100">
                <button mat-icon-button *ngIf="isShow" (click)="isShow=!isShow">
                    <img src="../../../assets/icons/close.svg" alt="">
                </button>
            </div>
            <div fxHide.gt-md >
                <button (click)="isShow=true" mat-icon-button>
                    <img src="../../../assets/icons/search.svg" alt="">
                </button>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <button (click)="isShow=true" mat-icon-button color="primary">
                <img src="../../../assets/icons/person_outline_white.svg" alt="" style="opacity: 1;">
            </button>
            <span style="font-size: 12px; color:white">Profile</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <button (click)="isShow=true" mat-icon-button color="primary"><img src="../../../assets/icons/svg.svg"
                    alt="" style="opacity: 1;"></button>
            <span style="font-size: 12px; color:white">Cart</span>
        </div>

    </div>
    <div>
        <app-get-all-books *ngIf="router.url=='/home/books'"></app-get-all-books>
        <app-quick-view *ngIf="router.url=='/home/'"></app-quick-view>
    </div>
</div>