<div class="main-container" fxFlex=100 fxLayout="row" fxLayoutAlign="center center" style="margin-top:5%">
    <div>
        <img src="../../../assets/UserPagesImage.png" alt="UserPagesImage">
    </div>
    <div class="right-container" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxLayout="column" fxLayoutAlign="center center">
                <button routerLink="/login" class="login-logout">LOGIN</button>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <button routerLink="/signup" class="login-logout">SIGNUP</button>
                <hr class="activated">
            </div>
        </div>
        <div>
            <form [formGroup]="SignupForm" (ngSubmit)="Signup()" fxLayout="column" fxLayoutAlign="center stretch">
                <label>Full Name</label>
                <mat-form-field appearance="outline">
                    <input matInput class="form-input" formControlName="fullName">
                </mat-form-field>
                <label>Email Id</label>
                <mat-form-field appearance="outline">
                    <input matInput class="form-input" formControlName="email">
                </mat-form-field>
                <label>Password</label>
                <mat-form-field appearance="outline">
                    <input matInput matInput class="form-input" formControlName="password"
                        [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <label>Mobile Number</label>
                <mat-form-field appearance="outline">
                    <input matInput class="form-input" formControlName="mobileNumber">
                </mat-form-field>
                <button class="signup-button">Signup</button>
            </form>
        </div>
    </div>
</div>