img{
    border-radius: 4% 0% 0% 4%;
    height : 450px;
}

.right-container{
    background-color: white; 
    border-radius: 2%;
    padding: 3%;
}

.activated{
    height: max-content;
    width: 40%;
    background-color: #a83434;
    border-radius: 5%;
    border-color: #a83434;
}

.login-logout{
    background-color: white;
    border: none;
    font-weight: bold;
}

label{
    font-size: 10px;
}

.signup-button{
    background-color: #a83434;
    border: none;
    border-radius: 5%;
    color:white;
    height: 25px;
}

mat-form-field{
    font-size: 12px;
    margin: none;
}